.loancalc{
    font-family: 'Lato', sans-serif;
    font-family: 'Rowdies', cursive;
    
width: 600px;
margin: 24px auto;
background-color: #fff;
box-shadow: 0 12px 50px -11px rgba(0, 0, 0, 0.2);
border-radius: 8px;
color: #eaf4f4;
overflow: hidden;

}
.loancalc,
.loancalc *{
    box-sizing: border-box;
}
.loancalc .top{
   background:#22223b ; 
   color: f2e9e4;
   padding: 32px;
}
.loancalc .top h2{
    margin-top: 0;
}
.loancalc form{
   display: flex; 
   gap: 8px;
   justify-content: space-between;
}
.loancalc .title{
    margin-bottom: 16px;
}
.loancalc form input{
    font-size: 20px;
    padding: 8px 24px;
    width: 100%;

}
.loancalc .result{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #22223b;
}
.loancalc .result .left{
    width: 100%;
    padding: 8px 32px;
}
.loancalc .result .left h3{
    font-size: 16px;
    font-weight:400 ;
    margin-bottom: 8px;
}
.loancalc .result .value{
    font-size:30px ;
    font-weight:900;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(20, 33, 61, 0.2);
}
.loancalc .result .value::before{
   content: "$"; 
   font-size:24px ;
   font-weight: 400;
   margin-right: 6px;
   opacity: 0.4;
}
.loancalc .calculate-btn{
    background: #f2e9e4;
    color: #22223b;
    border: none;
    padding: 8px 32px;
    border-radius: 8px;
    font-size:18px ;
    font-weight: 900;
    cursor: pointer;
    margin: 24px 0;
}
@media (max-width: 650px){
    .loancalc{
        width: 90%;
        max-width: 500px;
    }
    .loancalc form{
        flex-direction: column;
        gap:20px ;
    }
    .loancalc .result{
        flex-direction: column;
        text-align: center;
    }
}
.loancalc .right{
width: 50%;
}


